<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-doseunghwan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GNB Python-AI Study
##ㅎㅎ 잘모르겠어용ㅎㅎ

In [1]:
print('Hello world!')
print("Hello world!")
print("Hello %s" %'world', end='!\n')

Hello world!
Hello world!
Hello world!

In [2]:
year = 2021
day = 22
month = 'March'

str1 = 'Today is %s %d, %d' %(month, day, year)

str2 = 'Today is {} {}, {}'.format(month, day, year)

str3 = f'Today is {month} {day}, {year}' 
print(str1) 
print(str2) 
print(str3)

Today is March 22, 2021
Today is March 22, 2021
Today is March 22, 2021

In [3]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
n = 10
if n > 5:
    print('larger than 5')
elif n == 5:
    print('equal to 5')
else:
    print('smaller than 5')

larger than 5

In [4]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

for n in lst:
    print(n, end=' ')
print()

3 1 4 1 5 9 2 6 5 3

In [6]:
for i, n in enumerate(lst):
  print(f'{i}-{n}', end= '  ')
print()

0-3  1-1  2-4  3-1  4-5  5-9  6-2  7-6  8-5  9-3

In [ ]:
n = 0
while n < 10:
  print(n, end=' ')
  n +=1
print()

0 1 2 3 4 5 6 7 8 9

In [ ]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
print(type(lst))

<class 'list'>

In [7]:
a = [1, 'abcd', 3.14, [3, 4, 5], (6,7)]
print(a)

a.append(10)
print(a)

a.pop()
print(a)

a.insert(2, 'hello')
print(a)

a.pop(3)
print(a)

x = a.pop(3)
print(a,x)

[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', (6, 7)] [3, 4, 5]

In [8]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)
print(type(tpl))

print(lst)
lst[1] = 0
print(lst)

(x, y)= (1, 2)
print(x, y)
x = 1
y = 2

x, y = 3, 4
print(x,y)

<class 'tuple'>
[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]
1 2
3 4

In [ ]:
print(lst)

print(lst[3])
print(lst[-3])

print(lst[3:6])
print(lst[:6])
print(lst[3:])
print(lst[::2])

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
1
6
[1, 5, 9]
[3, 1, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]
[3, 4, 5, 2, 5]

In [11]:
print(7 / 5)
print(7 // 5)
print(2 ** 4)
('hello'+ ' '+'world')*2

1.4
1
16

'hello worldhello world'