<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-taeyoon_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GNB Python-AI Study
Week 1 - Python basics

1. Hello world

In [10]:
print('Hello world!')

Hello world!

In [12]:
print("Hello world!")

Hello world!

In [13]:
print("Hello %s" %' world', end ='!\n')

Hello  world!

String foramting

In [15]:
year = 2021
day = 22
month = 'March'

# % operator
str1 = 'Today is %s %d, %d' %(month, day, year)

# str.format() method
str2 = 'Today is {} {}, {}'.format(month, day, year)

# f- string
str3 = f'Today is {month} {day}, {year}'

print(str1)
print(str2)
print(str3)

Today is March 22, 2021
Today is March 22, 2021
Today is March 22, 2021

Function print()

In [16]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [17]:
print(1,2,3,4,5, sep='\n')

1
2
3
4
5

## 4.2 IF statement

In [25]:
n=10
#print(type(n))
if n > 5:
  print('larger than 5')
elif n== 5:
  print('equal to 5')
else:
  print('smaller than 5')

larger than 5

### 4.3 For loop

In [72]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5]

for n in Ist:
  print(n, end=' ')
print()

3 1 4 1 5 9 2 6 5

In [73]:
for i in range(len(lst)):
  print(lst[i], end=' ')
print()

3 1 4 1 5 9 2 6 5

In [61]:
for i, n in enumerate(lst):
  print(f'{i}-{n}', end =' ')

0-1 1-2 2-3 3-4 4-5 5-6 6-9

In [74]:
for i in range(len(lst)):
    print(f'{i}-{lst[i]}', end =' ')
print()

0-3 1-1 2-4 3-1 4-5 5-9 6-2 7-6 8-5

While loop

In [44]:
n = 0

while n < 10:
  print(n, end=' ')
   
  n += 1
print()

0 1 2 3 4 5 6 7 8 9

### 4.5 List : mutalble type

In [46]:
lst = {3,1, 4, 1, 5, 9, 2, 6, 5, 3}
print(type(lst))

<class 'set'>

In [47]:
a = [1, 'abcd', 3.14, [3,4,5], (6,)]
print(a)

# push new value to the end
a.append(10)
print(a)

# pop one value from the end
a.pop()
print(a)

[1, 'abcd', 3.14, [3, 4, 5], (6,)]
[1, 'abcd', 3.14, [3, 4, 5], (6,), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6,)]

In [49]:
# insert new value at index 2
a.insert(2, 'hello')
print(a)

# pop one value at index 3
x = a.pop(3)
print(a,x)

[1, 'abcd', 'hello', 'hello', [3, 4, 5], (6,)]
[1, 'abcd', 'hello', [3, 4, 5], (6,)] hello

### 4-5 Tuple : Immutable type

In [50]:
tpl = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3}
print(type(tpl))

<class 'set'>

In [52]:
(x, y) = (1,2)
print(x, y)

x, y = 3,4
print(x, y)

1 2
3 4

### 4.6 Indexing&Slicing

### 4.7 Operateors

In [53]:
7/5

1.4

In [54]:
7//5

1

In [56]:
2**4

16

In [58]:
('hello' + ' ' + 'world')

'hello worldhello world'