<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-bosung.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('hello world')

hello world

In [6]:
print('ohhhhh')

ohhhhh

# GNB Python-AI Study
Week 1 - python basics

## 1. Hello world

In [13]:
print('Hello world!')

Hello world!

In [14]:
print("Hello World!")

Hello World!

In [15]:
print("Hello %s" %'world', end = '!\n')

Hello world!

## String formating

In [21]:
year = 2021
day = 22
month = 'March'

# % operator
str1 = 'Today is %s %d, %d' %(month, day, year)

# str.format() method
str2 = 'Today is {} {}, {}'.format(month, day, year)

# f - string
str3 = f'Today is {month} {day}, {year}'


print(str1)
print(str2)
print(str3)

Today is March 22, 2021
Today is March 22, 2021
Today is March 22, 2021

In [27]:
print(1, 2, 3, 4, 5, sep = '\n')

1
2
3
4
5

## If statement

In [30]:
''' c - language
int n = 10;
if (n>5)
  printf('larger than 5\n');
else if ( n == 5)
  printf('equal to 5\n');
else
  printf('smaller than 5\n');
'''

n = 10
#print(type(n))
if n > 5:
  print('larger than 5')
elif n == 5:
  print('equal to 5')
else:
  print('smaller than 5')

larger than 5

## For loop

In [34]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
#  대괄호 사용

for n in lst:
  print(n, end = ' ')
print()

3 1 4 1 5 9 2 6 5 3

In [38]:
for i, n in enumerate(lst): 
  # enumerate function : i - for index, n - for num
  print(f'{i} - {n}', end = ' ')
  print(end = '\n')
print()

0 - 3
1 - 1
2 - 4
3 - 1
4 - 5
5 - 9
6 - 2
7 - 6
8 - 5
9 - 3

## While loop

In [42]:
n = 0

while n<10:
  print(n, end = ' ')
  if n == 3:
    break
  n += 1
print()

'''while n<10:
  print(n, end = ' ')
  if n == 3:
    # continue : after n goes 10
print()
'''
# pass : make the code blank

0 1 2 3

"while n<10:\n  print(n, end = ' ')\n  if n == 3:\n    # continue : after n goes 10\nprint()\n"

## List : mutable type

In [44]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
print(type(lst))

<class 'list'>

In [56]:
a = [1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
print(a)

# push new value to the end
a.append(10)
print(a)

# pop one value from the end
a.pop()
print(a)

[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]

In [58]:
# insert new value at index 2
a.insert(2, 'hello')
print(a)

# pop one value at index 3
x = a.pop(3)
print(a, x)

[1, 'abcd', 'hello', 'hello', [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', [3, 4, 5], (6, 7)] hello

## Tuple : Immutable type

In [59]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3) # without (), it is tuple.
print(type(tpl))

<class 'tuple'>

In [60]:
print(lst)
lst[1] = 0
print(lst)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [62]:
# tpl[3] = 0 error happen : tuple does not support item assignment

In [64]:
(x, y) = (1, 2)
print(x, y)

# parentheses can be ommitted
x, y = 3, 4
print(x, y)

1 2
3 4

## Indexing & Slicing

In [65]:
lst

[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [66]:
#indexing
print(lst[3])
print(lst[-3]) # reversal indexing

1
6

In [71]:
#slicing
print(lst[3:6]) # [3, 6)
print(lst[:6]) # [0, 6)
print(lst[3:])
print(lst[::2]) # print even-ordered number

[1, 5, 9]
[3, 0, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]
[3, 4, 5, 2, 5]

## Operators

In [72]:
# true division
7 / 5

1.4

In [73]:
# floor division
7 // 5

1

In [76]:
# power
2 ** 4

16

In [77]:
'hello' * 3 # free expression

'hellohellohello'