<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-jamin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GNB Python-AI Study
Week 1 - Python basics
ctrl + enter : 현재 선택한 블럭 실행

shift + enter : 현재 선택한 블럭 실행하고 다음 블럭으로 넘어감

ctrl + F9 : 모든 블럭 실행

ctrl + / : 현재 라인 주석

## 1.Hello world

In [56]:
print('hello world')

hello world

In [57]:
print("hello world!")

hello world!

In [58]:
print("Hello %s" %'world', end='!\n')

Hello world!

In [59]:
year = 2021
day = 22
month = 'march'

str1 = 'Today is %s %d, %d' % (month, day, year)
# 쉼표 넣지말고 % 넣기!

str2 = 'Today is {} {}, {}'.format(month, day, year)

str3 = f'Today is {month} {day}, {year}'

print(str1)
print(str2)
print(str3)

Today is march 22, 2021
Today is march 22, 2021
Today is march 22, 2021

In [60]:
print(1,2,3,4,5, sep='?')
# sep : 구분기호

1?2?3?4?5

In [61]:
n = 10
print(type(n))
if n > 5:
    print('larger than 5')
elif n == 5:
    print('equal to 5')
else:
    print('smaller than 5')

<class 'int'>
larger than 5

In [62]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

for n in lst:
    print(n, end=' ')
print()

3 1 4 1 5 9 2 6 5 3

In [63]:
for i, n in enumerate(lst):
    print(f'{i}-{n}', end=' ')
print()

0-3 1-1 2-4 3-1 4-5 5-9 6-2 7-6 8-5 9-3

In [64]:
n = 0

while n < 10:
    print(n, end=' ')
    n += 1
print()

0 1 2 3 4 5 6 7 8 9

In [65]:
# 반복문 : break, continue... pass->그 칸이 공백이어야할 때
# c에서는 빈칸 넣고싶으면 {} 넣으면 됨, 파이썬에서는 들여쓰기로 구분->빈블럭 표현x

### List : mutable type

In [66]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
print(type(lst))

<class 'list'>

In [67]:
a = [1, 'abcd', 3.14, {3, 4, 5}, (6, 7)]
print(a)

a.append(10)
print(a)

a.pop()
print(a)

a.insert(2, 'hello')
print(a)

a.pop(3)
print(a)

x =a.pop(3)
print(a, x)

[1, 'abcd', 3.14, {3, 4, 5}, (6, 7)]
[1, 'abcd', 3.14, {3, 4, 5}, (6, 7), 10]
[1, 'abcd', 3.14, {3, 4, 5}, (6, 7)]
[1, 'abcd', 'hello', 3.14, {3, 4, 5}, (6, 7)]
[1, 'abcd', 'hello', {3, 4, 5}, (6, 7)]
[1, 'abcd', 'hello', (6, 7)] {3, 4, 5}

### tuple : Immutable type
x,y 나타내는 좌표로 생각하기

In [68]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)
print(type(tpl))

tpl = 3, 1, 4, 1, 5, 9, 2, 6, 5, 3
print(type(tpl))

<class 'tuple'>
<class 'tuple'>

In [69]:
print(lst)
lst[1] = 0
print(lst)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [70]:
#tpl[3] = 0 튜플은 대입연산자 x

In [71]:
(x, y) = (1, 2)
print(x, y)

x, y = 3, 4
print(x, y)

1 2
3 4

### Indexing & Slicing

In [72]:
lst

[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [73]:
print(lst[3])
print(lst[-3])

1
6

In [75]:
print(lst[3:6])
print(lst[:6])
print(lst[3:])
print(lst[:])
print(lst[::2])
    #처음부터 끝까지 두칸씩 띄워서

[1, 5, 9]
[3, 0, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 4, 5, 2, 5]

### Operators

In [76]:
7 / 5

1.4

In [77]:
7 // 5

1

In [78]:
2 ** 4

16

In [79]:
'hello' * 3

'hellohellohello'

In [80]:
('hello' + ' '+ 'world') * 2

'hello worldhello world'