<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-Jaewon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GNB Python-AI Study
Week 1 - Python basics

##1.Hello world

In [3]:
print('hello world')

hello world

cltr + / : 주석

## Markdown
'#개수에 따라 큰제목 -> 작은제목 
엔터한번은 x 두번 or <br'>
'#하고 한칸띄우기

## code block
''' or ~~~ c,p등 언어지정 가능
$$ << 수식블록

$$
y = f(x)
$$

In [7]:
print('Hello World!')
print("Hello World!")
print("Hello %s" %'world', end='!\n') #파이썬은 ' ," 둘다문자열

Hello World!
Hello World!
Hello world!

##String formating

In [9]:
#파이썬에서 문자열 만드는방법
year = 2021
day = 22
month = 'March'

# % operator
str1 = 'Today is %s %d, %d' %(month, day, year)

# str.format() method
str2 = 'Today is {} {}, {}'.format(month, day, year)

# f-string
str3 = f'Today is {month} {day}, {year}'   #python 3.6? 

#여기전부 ' 대신 "가능, 셋중에 하나 익숙해지면 돼
print(str1)
print(str2)
print(str3)

Today is March 22, 2021
Today is March 22, 2021
Today is March 22, 2021

In [10]:
#help(함수) << 함수 도움말
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##If statement

In [18]:
''' c-language
int n = 10;

if (n>5){
    printf('larger than 5\n');
}
else if (n==5)
    printf('equal to 5\n');
else
    printf('smaller than 5\n');
'''


n = 10
#print(type(n))
if n>5:
    print('larger than 5')
elif n==5:
    print('equal to 5')
else:
    print('smaller than 5')

#들여쓰기, :, elif

larger than 5

## For statement

In [20]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

for n in lst:
    print(n, end=' ')  #파이썬에서는 무조건 밑으로 내려가기때문에 end 넣어줘야함
print()

3 1 4 1 5 9 2 6 5 3

In [25]:
#index value 필요하다면 enumerate() 사용

for i, n in enumerate(lst):  #i,n자리 아무거나 들어가도돼! 변수임
    print(f'{i}-{n}', end=' ')
print()

#"pythonic" 코드아니면
for i in range(len(lst)):
    print(f'{i}-{lst[i]}',end=' ')
print()

0-3 1-1 2-4 3-1 4-5 5-9 6-2 7-6 8-5 9-3
0-3 1-1 2-4 3-1 4-5 5-9 6-2 7-6 8-5 9-3

## While loop

In [27]:
n = 0

while n < 10:
    print(n, end=' ')
    n += 1
print()  #python 은 n++없음, :쓰기

#pass 하면 없는 구간으로 생각, break, continue

0 1 2 3 4 5 6 7 8 9

In [28]:
n = 0

while n < 10:
    print(n, end=' ')
    
    if n==3:
        break
    
    n += 1
print()

0 1 2 3

## List : mutable type  가변적

In [29]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]  # lst 대괄호 스택같은거 할 때 좋대
print(type(lst))

<class 'list'>

In [32]:
a = [1, 'abcd', 3.14, [3, 4, 5],(6, 7)] #lst안에 tuple, lst, int 문자열 다들어감
print(a)

#자주 쓰는 함수

# push new value to the end
a.append(10)
print(a)

# pop one value from the end
a.pop()
print(a)

[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]

In [34]:
#insert new value at index 2 파이썬 index 0부터시작
a.insert(2, 'hello')
print(a)

#pop one value at index 3
a.pop(3)
print(a)

x = a.pop(3)
print(a,x)

[1, 'abcd', 'hello', 'hello', [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', (6, 7)] [3, 4, 5]

## Tuple : Immutable type 불변

In [35]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)
print(type(tpl))

<class 'tuple'>

In [36]:
print(lst)
lst[1]=0
print(lst)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [37]:
tpl[3]=0 #tpl은 바꿀수 x 처음에 정하면 그대로

TypeError: ignored

In [39]:
(x, y) = (1, 2)
print(x, y)

# parentheses can be ommitted 괄호 없으면 tuple로 인식
x, y = 3, 4
print(x, y)

1 2
3 4

## Indexing & Slicing

In [40]:
lst

[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [41]:
#indexing
print(lst[3])
print(lst[-3]) #-는 오른쪽부터 맨오른쪽이 -1

1
6

In [45]:
# slicing
print(lst[3:6]) # 3번부터 6번 전까지  [a ,) << 파이썬에서 구간 a는들어가고 b안들어감
print(lst[:6]) # 생략은 처음부터 : 처음부터 6 전까지
print(lst[3:]) # 3번부터 마지막 까지
print(lst[:])

print(lst[3:8:2]) # 3번부터 8번전까지 2칸씩
print(lst[::2]) #매트랩은 간격이 중간이었음, 혼동 조심

[1, 5, 9]
[3, 0, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]
[1, 9, 6]
[3, 4, 5, 2, 5]

## Operators

In [46]:
# true division
7/5

1.4

In [47]:
# floor division : int나누기
7/5

1.4

In [48]:
# power : 제곱
2 ** 4

16

In [51]:
'hello' * 3
('hello' + ' ' + 'world') * 2

'hello worldhello world'