<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-KarlySIn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GNB Python-AI Study
Week 1 - Python basics

## 1. Hello world

In [9]:
print("hello world!")

hello world!

In [12]:
print('hello world!')

hello world!

In [11]:
print("Hello %s" %'world', end='!\n')

Hello world!

In [13]:
year = 2021
day = 22
month = 'March'

# % operator
str1 = 'Today is %s %d, %d' %(month, day, year)

# str.format() method
str2 = 'Today is {} {}, {}'.format(month, day, year)

# f-string
str3 = f'Today is {month} {day}, {year}'

print(str1)
print(str2)
print(str3)

Today is March 22, 2021
Today is March 22, 2021
Today is March 22, 2021

In [15]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
n = 10

if n>5 :
  print('larger than 5')
elif n==5 :
  print('equal to 5')
else :
  print('smaller than 5')

larger than 5

In [17]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

for n in lst:
  print(n, end=' ')
print()

3 1 4 1 5 9 2 6 5 3

In [18]:
# it is not a "pythonic" code
for i in range(len(lst)):
  print(lst[i], end=' ')
print()

3 1 4 1 5 9 2 6 5 3

In [21]:
for i, n in enumerate(lst):
  print(f'{i}-{n}', end='  ')
print()

0-3  1-1  2-4  3-1  4-5  5-9  6-2  7-6  8-5  9-3

In [22]:
n = 0

while n<10 :
  print(n, end=' ')
  n += 1
print()

0 1 2 3 4 5 6 7 8 9

In [23]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

print(type(lst))

<class 'list'>

In [24]:
a = [1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
print(a)

# push new value to the end
a.append(10)
print(a)

# pop one value from the end
a.pop()
print(a)

[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]

In [27]:
# insert new value at index 2
a.insert(2, "hello")
print(a)

# pop one value at index 3
x = a.pop(3)
print(a, x)

[1, 'abcd', 'hello', 'hello', [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', [3, 4, 5], (6, 7)] hello

In [28]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)
print(type(tpl))

<class 'tuple'>

In [29]:
print(lst)
lst[1] = 0
print(lst)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [30]:
tpl[3] = 0

TypeError: ignored

In [31]:
(x, y) = (1, 2)
print(x, y)

# parameters can be ommitted
x, y = 3, 4
print(x, y)

1 2
3 4

In [32]:
# indexing
print(lst[3])
print(lst[-3])

1
6

In [33]:
# slicing
print(lst[3:6]) # [a, b)
print(lst[:6])
print(lst[3:])

[1, 5, 9]
[3, 0, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]

In [34]:
# true division
7 / 5

1.4

In [35]:
# floor division
7 // 5

1

In [36]:
## power
2 ** 4

16