<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-jimin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# GNB Python-AI Study
Week 1 - Python basic

**4-1. Hello world**

In [10]:
print ("hello world")

hello world

In [11]:
print ("Hello world!")

Hello world!

In [13]:
print ("Hello %s" %'world', end='!\n')

Hello world!

**String formating**

In [15]:
year = 2021
day = 22
month = 'March'

# %operator
str1 = 'Toda is %s %d, %d' %(month, day, year)

# str.format() method
str2 = 'Today is {} {}, {}'.format(month, day, year)

# f-string
str3 = f'Today is {month} {day}, {year}'

print(str1)
print(str2)
print(str3)

Toda is March 22, 2021
Today is March 22, 2021
Today is March 22, 2021

**4-2. If statement**

In [17]:
''' c-language
int n = 10;

if (n > 5)
    printf('larger than 5\n');
else if (n == 5)
    printf('equal to 5\n');
else
    printf('smaller than 5\n');
'''

n = 10

if n > 5:
  print('larger than 5')
elif n == 5:
  print('equal to 5')
else:
  print('smaller than 5')

larger than 5

**4-3. For loop**

In [21]:

''' c-language
int arr[10] = {3, 1, 4, 1, 5, 9, 2, 6, 5, 3};

for (int i = 0; i < 10; i++)
    printf("%d ", arr[i]);
printf("\n");
'''

lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]

for n in lst:
    print(n, end=' ')
print()

# use enumerate()

for i, n in enumerate(lst):
    print(f'{i}-{n}', end='  ')
print()

3 1 4 1 5 9 2 6 5 3
0-3  1-1  2-4  3-1  4-5  5-9  6-2  7-6  8-5  9-3

<b>4-4. While loop</b>

In [28]:
''' c-language
int n = 0;

while (n < 10) {
    printf("%d ", n);
    n++;
}
printf("\n");
'''

n = 0

while n < 10:
    print(n, end=' ')
    n += 1
print()

0 1 2 3 4 5 6 7 8 9

<b>4-5. List : mutable type</b>

In [29]:
a = [1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
print(a)

# push new value to the end
a.append(10)
print(a)

# pop one value from the end
a.pop()
print(a)

[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]

In [30]:
# insert new value at index 2
a.insert(2, 'hello')
print(a)

# pop one value at index 3
a.pop(3)
print(a)

[1, 'abcd', 'hello', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', [3, 4, 5], (6, 7)]

<b>4-5. Tuple : immutable type</b>

In [31]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)
print(type(tpl))

<class 'tuple'>

In [32]:

print(lst)
lst[1] = 0
print(lst)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [35]:
#tpl[3] = 0 <- does not support item assignment

In [ ]:
(x, y) = (1, 2)
print(x, y)

# parentheses can be ommitted
x, y = 3, 4
print(x, y)

<b>4-6. Indexing & Slicing</b>

In [38]:
lst

[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [37]:
# indexing
print(lst[3])
print(lst[-3]) #뒤에서부터 -1 -2 - 3

1
6

In [44]:
# slicing
print(lst[3:6]) #6번 전까지
print(lst[:6])
print(lst[3:])
print(lst[::2]) #2칸씩 뛰도록

[1, 5, 9]
[3, 0, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]
[3, 4, 5, 2, 5]

<b> 4-7. Operators</b>

In [45]:
7/5

1.4