<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week1/week1-YuKeun.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#GNB Pyhon-AI Study

##1. Hello World!

In [3]:
lst = [3,1,4,1,5,9,2,6,5,3]
for i, n in enumerate(lst):
  print("{0} : {1} ".format(i, n), end = ' ')
print()

0 : 3  1 : 1  2 : 4  3 : 1  4 : 5  5 : 9  6 : 2  7 : 6  8 : 5  9 : 3

In [4]:
n = 0

while n < 10:
  print(n, end = ' ')
  n += 1
print()

0 1 2 3 4 5 6 7 8 9

## 4-5. List : mutable type

In [8]:
lst = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
print(type(lst))

<class 'list'>

In [9]:
a = [1, 'abcd', 3.14, [3,4,5,], (6,7)]
print(a)

# push new value to the end
a.append(10)
print(a)

# pop one value form the end
a.pop()
print(a)

[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7), 10]
[1, 'abcd', 3.14, [3, 4, 5], (6, 7)]

In [10]:
# insert new value at index 2
a.insert(2, 'hello')
print(a)

# pop ine value at index 3
a.pop(3)
print(a)

[1, 'abcd', 'hello', 3.14, [3, 4, 5], (6, 7)]
[1, 'abcd', 'hello', [3, 4, 5], (6, 7)]

In [11]:
tpl = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)
print(type(tpl))

<class 'tuple'>

In [12]:
print(lst)
lst[1] = 0
print(lst)

[3, 1, 4, 1, 5, 9, 2, 6, 5, 3]
[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [13]:
tpl[3] = 0

TypeError: ignored

In [14]:
(x,y) = (1,2)
print(x,y)

# parentheses can be omitted
x, y = 3,4
print(x,y)

1 2
3 4

## 4-6. Indexing & Slicing

In [15]:
print(lst)

[3, 0, 4, 1, 5, 9, 2, 6, 5, 3]

In [18]:
# indexing
print(lst[3])
print(lst[-3])

1
6

In [20]:
# slicing
print(lst[3:6])
print(lst[:6])
print(lst[3:])
print(lst[::2])  # 두 칸씩 띄우기

[1, 5, 9]
[3, 0, 4, 1, 5, 9]
[1, 5, 9, 2, 6, 5, 3]
[3, 4, 5, 2, 5]

## 4-7. Operators

In [22]:
# true division
7/5

1.4

In [24]:
# floor division
7//5

1

In [26]:
# power
2 ** 4

16

In [27]:
'hello'*3

'hellohellohello'