<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week2/week2_jamin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1,2,3]
b = a

print(f'a==b : {a==b}')
print(f'a is b : {a is b}')

a==b : True
a is b : True

In [ ]:
c = list(a)

print(f'a == c : {a==c}')
print(f'a is c : {a is c}')

a == c : True
a is c : False

In [ ]:
fruits = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(f'fruits : {fruits}')

print(f"'orange' in fruits : {'orange' in fruits}")
print(f"'grape' not in fruits : {'grape' not in fruits}")

fruits : {'banana', 'apple', 'orange', 'pear'}
'orange' in fruits : True
'grape' not in fruits : True

In [ ]:
scores = {'calculus':90, 'physics':70}
print(scores)

scores = dict([('calculus', 90), ('physics', 70)])
print(scores)

scores = dict(calculus=90, physics=70)
print(scores)

{'calculus': 90, 'physics': 70}
{'calculus': 90, 'physics': 70}
{'calculus': 90, 'physics': 70}

In [ ]:
scores['chemistry'] = 80
print(scores)

del scores['calculus']
print(scores)

{'calculus': 90, 'physics': 70, 'chemistry': 80}
{'physics': 70, 'chemistry': 80}

In [ ]:
nums = [1, 4, 1, 4, 2, 1, 3, 5, 6, 2]

squares = []
for x in nums:
    squares.append(x**2)

print(squares)

[1, 16, 1, 16, 4, 1, 9, 25, 36, 4]

In [ ]:
squares = list(map(lambda x: x**2, nums))
print(squares)

[1, 16, 1, 16, 4, 1, 9, 25, 36, 4]

In [ ]:
squares = [x **2 for x in nums]
print(squares)

[1, 16, 1, 16, 4, 1, 9, 25, 36, 4]

In [ ]:
nums = [1, 4, 1, 4, 2, 1, 3, 5, 6, 2]

evens = []
for x in nums:
    if x % 2 == 0:
        evens.append(x)

print(evens)

[4, 4, 2, 6, 2]

In [ ]:
evens = list(filter(lambda x: x%2==0, nums))
print(evens)

[4, 4, 2, 6, 2]

In [ ]:
squares = [x for x in nums if x % 2 == 0]
print(squares)

[4, 4, 2, 6, 2]

In [ ]:
def say_hello_world():
    print('Hello world!')

def say_hello_to(name):
    print(f'Hello {name}!')

def get_full_name(first, last):
    '''
    returns full name string
    '''
    return first + ' ' + last

In [ ]:
say_hello_world()
say_hello_to('GnB')

myname = get_full_name('Jamin', 'Seong')
say_hello_to(myname)

Hello world!
Hello GnB!
Hello Jamin Seong!

In [ ]:
help(get_full_name)

Help on function get_full_name in module __main__:

get_full_name(first, last)
    returns full name string

In [ ]:
class Student:
    pass
    ##pass 비어있는 클래스를 하나 정의함

std_1 = Student()
std_2 = Student()

print(Student)
print(std_1)
print(std_2)

print(isinstance(std_1, Student), isinstance(std_2, Student))

<class '__main__.Student'>
<__main__.Student object at 0x7f356d05a6d0>
<__main__.Student object at 0x7f356d05a210>
True True

In [ ]:
std_1.first = "Jamin"
std_1.last = 'Seong'
std_1.email = 'Jamin.Seong@knu.ac.kr'
std_1.gpa = 3.79

std_2.first = "first"
std_2.last = 'last'
std_2.email = 'first.last@knu.ac.kr'
std_2.gpa = 4.30

print(std_1.email)
print(std_2.email)

Jamin.Seong@knu.ac.kr
first.last@knu.ac.kr

In [ ]:
class Student:
    def __init__(self, first, last, gpa):
        self.first = first
        self.last = last
        self.gpa = gpa
        self.email = first + "." + last + '@knu.ac.kr'
    
    def fullname(self):
        return f'{self.first} {self.last}'

##init 정의해 버리면 Student()못 씀! 안에 매개변수 써주기
##self 정의할 때는 있어야되는데 쓸 때는 안 써도 됨!
std_1 = Student('Jamin', "Seong", 3.70)
std_2 = Student('first', 'last', 4.30)

print(std_1.email)
print(std_2.email)

print(Student.fullname(std_1))
print(Student.fullname(std_2))

Jamin.Seong@knu.ac.kr
first.last@knu.ac.kr
Jamin Seong
first last

In [ ]:
print(f'{std_1.first} {std_1.last}')
print(f'{std_2.first} {std_2.last}')

Jamin Seong
first last

In [ ]:
class Student:
    
    num_of_stds = 0
    domain = 'knu.ac.kr'
    
    def __init__(self, first, last, gpa):
        ##self : 객체/ Student : 클래스
        self.first = first
        self.last = last
        self.gpa = gpa
        self.email = first + '.' + last + '@' + self.domain
        
        Student.num_of_stds += 1
    
    def fullname(self):
        return f'{self.first} {self.last}'
    
std_1 = Student('Jamin', 'Seong', 3.70)
print(Student.num_of_stds)

std_2 = Student('first', 'last', 4.30)
print(Student.num_of_stds)

1
2

In [ ]:
class GnbMember(Student):

    domain = 'gnb.com'

    def __init__(self, first, last, gpa, prog_lang):
        super().__init__(first, last, gpa)
        self.prog_lang = prog_lang


gnb_1 = GnbMember('Gnb', "Member", 4.3, 'Python')
print(Student.num_of_stds, gnb_1.email, gnb_1.prog_lang)


std_3 = Student('Not', 'gnb', 3.25)
print(Student.num_of_stds, std_3.email)

3 Gnb.Member@gnb.com Python
4 Not.gnb@knu.ac.kr

In [ ]:
print(isinstance(gnb_1, GnbMember))
print(isinstance(gnb_1, Student))

print(issubclass(GnbMember, Student))
print(issubclass(Student, GnbMember))

print(issubclass(Student, Student))

True
True
True
False
True