<a href="https://colab.research.google.com/github/gnbhub/gnbai20211/blob/master/week2/week2-jimin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1. More Python basics**

**1-1. Boolean Operations**

In [ ]:
# 3.14:True, 0:False
x, y = 3.14, 0

print(f'x or y : {x or y}')
print(f'x and y : {x and y}')
print(f'not x : {not x}')

x or y : 3.14
x and y : 0
not x : False

**1-2. Comparisons**

In [ ]:
a = [1, 2, 3]
b = a # shallow copy

print(f'a == b : {a == b}') # equality of value
print(f'a is b : {a is b}') # identity of object

**1-3. Set**

**1-4. Dictionary** # 인덱스가 아닌 key로 값을 찾음

In [ ]:
# create dictionary with {key:value, ...}. 주로 사용하는 형식
scores = {'calculus':90, 'physics':70} 
print(scores)

# create dictionary with sequences of key-value pair
scores = dict([('calculus', 90), ('physics', 70)])
print(scores)

# create dictionary with keyword arguments. key 값이 문자열일때만 사용 가능. 
scores = dict(calculus=90, physics=70)
print(scores)

print(scores['calculus'])

{'calculus': 90, 'physics': 70}
{'calculus': 90, 'physics': 70}
{'calculus': 90, 'physics': 70}
90

In [ ]:

# add item 'chemistry':80
scores['chemistry'] = 80
print(scores)

# delete item 'calculus':90
del scores['calculus']
print(scores)

{'calculus': 90, 'physics': 70, 'chemistry': 80}
{'physics': 70, 'chemistry': 80}

**1-5. List Comprehensions**

ex1) create a new list with the values squared

In [ ]:
nums = [1, 4, 1, 4, 2, 1, 3, 5, 6, 2]

squares = []
for x in nums:
  squares.append(x**2)

print(squares)

[1, 16, 1, 16, 4, 1, 9, 25, 36, 4]

In [ ]:
squares = [x ** 2 for x in nums]
print(squares)

[1, 16, 1, 16, 4, 1, 9, 25, 36, 4]

ex2) create a new list only with even values

In [ ]:
nums = [1, 4, 1, 4, 2, 1, 3, 5, 6, 2]

evens = []
for x in nums:
    if x % 2 == 0:
        evens.append(x)

print(evens)

[4, 4, 2, 6, 2]

In [ ]:
# equivalent code with list comprehension
squares = [x for x in nums if x % 2 == 0]
print(squares)

[4, 4, 2, 6, 2]

**1-6. Function**

In [ ]:
def say_hello_world():
  print("Hello world")

def say_hello_to(name):
  print(f'Hello {name}!')

def get_full_name(first, last):
  return first + ' ' + last

In [ ]:
say_hello_world()
say_hello_to('GNB')

myname = get_full_name('Jimin','Lee')
say_hello_to(myname)

Hello world
Hello GNB!
Hello Jimin Lee!

### **2. What is object-oriented programming?**

객체지향 프로그램<br>
object = attribute + method<br>
= variable + function<br>
= data + code

class : 변수+함수. 실제로 찍어내서 메모리에 올린 것<br>
object : 객체. 메모리에 올려놓은것. instance of a classs<br>
attribute : 속성<br>
method : 함수<br>
instantiation : 클래스화<br>
inheritance : 상속. 클래스로부터 새로운 클래스 생성<br>
subclass / superclass : 하위클래스 (상속받는) / 상위클래스 (상속되는)

**3-1. Class**

In [ ]:
class Student:       # Class is a blueprint for creating Objects(=Instances)
    pass

std_1 = Student()    # Instantitation:
std_2 = Student()    #   Create two unique Objects(=Instances) of Student class

print(Student)
print(std_1)         # we can see that std_1 and std_2 have
print(std_2)         # different locations in memory

print(isinstance(std_1, Student), isinstance(std_2, Student))

<class '__main__.Student'>
<__main__.Student object at 0x7fb17ffc7510>
<__main__.Student object at 0x7fb17ffc7c10>
True True

**3-2. \_\_init()\_\_ method**

In [ ]:
class Student:
    
    def __init__(self, first, last, gpa):
        self.first = first
        self.last = last
        self.gpa = gpa
        self.email = first + '.' + last + '@knu.ac.kr'

std_1 = Student('Jimin', 'Lee', 4.3) # __init__() method will be run automatically
std_2 = Student('Test', 'Name', 4.0)  # It would be better to think of 'self' as being ignored.

print(std_1.email)
print(std_2.email)

Jimin.Lee@knu.ac.kr
Test.Name@knu.ac.kr

**3-3. Method**

In [ ]:
class Student:
    
    def __init__(self, first, last, gpa):
        self.first = first
        self.last = last
        self.gpa = gpa
        self.email = first + '.' + last + '@knu.ac.kr'
    
    # don't forget to add 'self' in every method!
    def fullname(self):
        return f'{self.first} {self.last}'
    
std_1 = Student('Jimin', 'Lee', 4.3)
std_2 = Student('Test', 'Name', 4.0)

print(std_1.fullname())
print(std_2.fullname())

# it does the exactly same thing
print(Student.fullname(std_1))
print(Student.fullname(std_2))

Jimin Lee
Test Name
Jimin Lee
Test Name

student) num=0, domain=" " - class variable<br>
↓instantiation<br>
std1) first email last gpa<br>
std2) first email last gpa<br>

**3-4. Class variable**

In [ ]:
class Student:
    
    # class variable
    num_of_stds = 0
    domain = 'knu.ac.kr'
    
    def __init__(self, first, last, gpa):
        # instance variables
        self.first = first
        self.last = last
        self.gpa = gpa
        self.email = first + '.' + last + '@' + self.domain
        
        Student.num_of_stds += 1
    
    def fullname(self):
        return f'{self.first} {self.last}'
    
std_1 = Student('Jimin', 'LEE', 4.3)
print(Student.num_of_stds)

std_2 = Student('Test', 'Name', 4.0)
print(Student.num_of_stds)

1
2

**3-5. Inheritance**

In [ ]:
#superclass - Student, subclass = GnbMember

class GnbMember(Student):
    
    domain = 'gnb.com'
    
    def __init__(self, first, last, gpa, prog_lang):
        super().__init__(first, last, gpa)          # run __init__() of superclass(=Student)
        # Student.__init__(self, first, last, gpa)  # same code as above
        self.prog_lang = prog_lang

gnb_1 = GnbMember('Gnb', 'Member', 4.3, 'Python')
print(Student.num_of_stds, gnb_1.email, gnb_1.prog_lang)

std_3 = Student('Not', 'gnb', 3.25)
print(Student.num_of_stds, std_3.email)

#실행 횟수에 따라 숫자 달라짐. init함수 호출함으로써

5 Gnb.Member@gnb.com Python
6 Not.gnb@knu.ac.kr

In [ ]:
print(isinstance(gnb_1, GnbMember))
print(isinstance(gnb_1, Student))

print(issubclass(GnbMember, Student))
print(issubclass(Student, GnbMember))

True
True
True
False